log

# js
components
build
node_modules
es5
javascript/core/browser
javascript/generator/browser

# java
target

# vagrant
.vagrant

# eclipse
.project
.classpath
.settings

# generated documentation
docsite

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
