log
.ruby-version

# js
components
build
node_modules
es5
javascript/core/browser
javascript/core/apidocs
javascript/generator/browser
npm-shrinkwrap.json

# java
target
dependency-reduced-pom.xml

# vagrant
.vagrant

# eclipse
.project
.classpath
.settings

# generated documentation
docsite

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
